


body {
    background-color: #F8F8F8;
	background :url(../img/maze2.png);
}
.container-fluid{
	background-color: #FFFFFF;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}

@keyframes fadein2 {
    from {
        opacity:0;
			margin-top:-5px;
    }
    to {
        opacity:1;
    }
}

    .box{
		padding-bottom:12px;
		display: none;
		    animation: fadein 1s;
}
@keyframes fadein {
    from {
        opacity:0;
		margin-left: -15px;
    }
    to {
        opacity:1;
		margin-left: 0px;
    }
    }
	

.dropzone {
    border: dashed 1px #888888;
    background-color: #ECECFF;
	border-radius: 25px;
}	
	
.btn-lg{
border-radius: 25px;
}
/* Steps progressbar */
.steps-progress-bar{
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  width:75%;
  padding:0px;
margin-left:25%;
  margin-bottom: 20px;
  margin-top:20px;
}
.steps-progress-bar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  width: 35%;
  float: left;
  position: relative;
  text-align:center;
}
.steps-progress-bar li  p{
  color:#b9b9b9;
}
.steps-progress-bar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  line-height: 40px;
  display: block;
  font-size: 18px;
  color: #333;
  background: #eeeeee;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  border-radius:20px;
  color:#b9b9b9;
}
/*progressbar connectors*/
.steps-progress-bar li:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #eeeeee;
  position: absolute;
  left: -50%;
  top: 20px;
  z-index:-1
}
.steps-progress-bar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.steps-progress-bar li.active:before,  .steps-progress-bar li.active:after{
  background: #7FD1D2;
  color: white;
}
.steps-progress-bar li.active p{color:#7FD1D2}

/* --------------------------------------- */